In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

import json
from pathlib import Path
from time import time

import warnings
warnings.filterwarnings('ignore')

### Read yelp review and business data

In [2]:
def load_rows(file_path, nrows=None, only_return_count=False, verbose=True):
    """
    Returns dataframe from json file
    """
    tic = time()
    with open(file_path, encoding = 'utf-8') as json_file:
        count = 0
        objs = []
        line = json_file.readline()
        while (nrows is None or count<nrows) and line:
            count += 1
            if not only_return_count:
                obj = json.loads(line)
                objs.append(obj)
            line = json_file.readline()
        toc = time()
        if verbose:
            print(file_path.split('/')[-1], 'loaded. Count =', count, ', Time =', round(toc-tic,2), 'secs.')

        if only_return_count:
            return count

        return pd.DataFrame(objs)

In [3]:
path_reviews = 'C:\\Users\\dingy\\Desktop\\UChicago\\Data Mining\\Final Project\\yelp_academic_dataset_review.json'

In [4]:
df_reviews = load_rows(path_reviews)

C:\Users\dingy\Desktop\UChicago\Data Mining\Final Project\yelp_academic_dataset_review.json loaded. Count = 8635403 , Time = 77.94 secs.

In [5]:
df_reviews.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,lWC-xP3rd6obsecCYsGZRg,ak0TdVmGKo4pwqdJSTLwWw,buF9druCkbuXLX526sGELQ,4.0,3,1,1,Apparently Prides Osteria had a rough summer a...,2014-10-11 03:34:02
1,8bFej1QE5LXp4O05qjGqXA,YoVfDbnISlW0f7abNQACIg,RA4V8pr014UyUbDvI-LW2A,4.0,1,0,0,This store is pretty good. Not as great as Wal...,2015-07-03 20:38:25
2,NDhkzczKjLshODbqDoNLSg,eC5evKn1TWDyHCyQAwguUw,_sS2LBIGNT5NQb6PD1Vtjw,5.0,0,0,0,I called WVM on the recommendation of a couple...,2013-05-28 20:38:06
3,T5fAqjjFooT4V0OeZyuk1w,SFQ1jcnGguO0LYWnbbftAA,0AzLzHfOJgL7ROwhdww2ew,2.0,1,1,1,I've stayed at many Marriott and Renaissance M...,2010-01-08 02:29:15
4,sjm_uUcQVxab_EeLCqsYLg,0kA0PAJ8QFMeveQWHFqz2A,8zehGz9jnxPqXtOc7KaJxA,4.0,0,0,0,The food is always great here. The service fro...,2011-07-28 18:05:01

In [6]:
path_business = 'C:\\Users\\dingy\\Desktop\\UChicago\\Data Mining\\Final Project\\yelp_academic_dataset_business.json'

In [7]:
df_business = load_rows(path_business)

C:\Users\dingy\Desktop\UChicago\Data Mining\Final Project\yelp_academic_dataset_business.json loaded. Count = 160585 , Time = 4.66 secs.

In [8]:
df_business.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,6iYb2HFDywm3zjuRg0shjw,Oskar Blues Taproom,921 Pearl St,Boulder,CO,80302,40.017544,-105.283348,4.0,86,1,"{'RestaurantsTableService': 'True', 'WiFi': 'u...","Gastropubs, Food, Beer Gardens, Restaurants, B...","{'Monday': '11:0-23:0', 'Tuesday': '11:0-23:0'..."
1,tCbdrRPZA0oiIYSmHG3J0w,Flying Elephants at PDX,7000 NE Airport Way,Portland,OR,97218,45.588906,-122.593331,4.0,126,1,"{'RestaurantsTakeOut': 'True', 'RestaurantsAtt...","Salad, Soup, Sandwiches, Delis, Restaurants, C...","{'Monday': '5:0-18:0', 'Tuesday': '5:0-17:0', ..."
2,bvN78flM8NLprQ1a1y5dRg,The Reclaimory,4720 Hawthorne Ave,Portland,OR,97214,45.511907,-122.613693,4.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Restau...","Antiques, Fashion, Used, Vintage & Consignment...","{'Thursday': '11:0-18:0', 'Friday': '11:0-18:0..."
3,oaepsyvc0J17qwi8cfrOWg,Great Clips,2566 Enterprise Rd,Orange City,FL,32763,28.914482,-81.295979,3.0,8,1,"{'RestaurantsPriceRange2': '1', 'BusinessAccep...","Beauty & Spas, Hair Salons",None
4,PE9uqAjdw0E4-8mjGl3wVA,Crossfit Terminus,1046 Memorial Dr SE,Atlanta,GA,30316,33.747027,-84.353424,4.0,14,1,"{'GoodForKids': 'False', 'BusinessParking': '{...","Gyms, Active Life, Interval Training Gyms, Fit...","{'Monday': '16:0-19:0', 'Tuesday': '16:0-19:0'..."

In [9]:
# data filtering

rest = df_business.categories.str.contains('Restaurant', na=False)
df_business = df_business[rest]
df_business.drop(df_business[df_business.is_open == 0].index, inplace=True)
df_business = df_business.dropna()

In [10]:
def stratify_data(df_data, stratify_column_name, stratify_values, stratify_proportions, threshold, random_state=0):
    """Stratifies data according to the values and proportions passed in
    Args:
        df_data (DataFrame): source data
        stratify_column_name (str): The name of the single column in the dataframe that holds the data values that will be used to stratify the data
        stratify_values (list of str): A list of all of the potential values for stratifying e.g. "Male, Graduate", "Male, Undergraduate", "Female, Graduate", "Female, Undergraduate"
        stratify_proportions (list of float): A list of numbers representing the desired propotions for stratifying e.g. 0.4, 0.4, 0.2, 0.2, The list values must add up to 1 and must match the number of values in stratify_values
        random_state (int, optional): sets the random_state. Defaults to None.
    Returns:
        DataFrame: a new dataframe based on df_data that has the new proportions represnting the desired strategy for stratifying
    """
    df_stratified = pd.DataFrame(columns = df_data.columns) # Create an empty DataFrame with column names matching df_data

    pos = -1
    
    for i in range(len(stratify_values)):  # Iterate over the stratify values (e.g. "star"=5.0, etc.)
        pos += 1
        if 0 < threshold * stratify_proportions[i] < 1:
            ratio_len = 1 # Extract at least 1 result for those items existing
        else:
            ratio_len = int(threshold * stratify_proportions[i]) # Calculate the number of rows to match the desired proportion
        if ratio_len < 0:
            break
        df_filtered = df_data[df_data[stratify_column_name] ==stratify_values[i]] # Filter the source data based on the currently selected stratify value
        # print(stratify_proportions, pos, len(df_filtered), ratio_len)
        df_temp = df_filtered.sample(replace=False, n=ratio_len, random_state=random_state) # Sample the filtered data using the calculated ratio
        df_stratified = pd.concat([df_stratified, df_temp]) # Add the sampled / stratified datasets together to produce the final result
        
    return df_stratified # Return the stratified, re-sampled data

In [15]:
def sample(city):
    df = df_business[df_business['city'] == city]
    len_df_business = len(df)
    business_list = df['business_id'].drop_duplicates()
    len_business_list = len(business_list)
    
    reviews = list()
    total_original_reviews = 0

    # set threshold as 10
    for business in business_list:
        N = len(df_reviews[df_reviews['business_id'] == business])
        total_original_reviews += N
        # print(N)
        if N == 0:
            continue
        # If number of reviews <= 10, retain all reviews, else implement stratified sampling
        elif N <= 10:
            for line in df_reviews[df_reviews['business_id'] == business].index:
                reviews.append(df_reviews[df_reviews['business_id'] == business].loc[line,['business_id', 'stars', 'text']])
        else:
            star_count = pd.DataFrame(df_reviews[df_reviews['business_id'] == business]['stars'].value_counts()) # Count number of reviews for each star
            bus_stars = list(star_count.index)
            stratify_proportions = list(star_count['stars'] / N) # Calculate review proportons for each star
            #print(star_count)
            #print(df_reviews[df_reviews['business_id'] == business])
            stratified_reviews = stratify_data(df_reviews[df_reviews['business_id'] == business], 'stars', bus_stars, stratify_proportions, threshold=10)
            #print(stratified_reviews)
            for line in stratified_reviews.index:
                reviews.append(stratified_reviews.loc[line,['business_id', 'stars', 'text']])
    
    
    reviews = pd.DataFrame(reviews)
    reviews['city'] = city
    len_reviews_sample = len(reviews)
    reviews.to_csv('C:\\Users\\dingy\\Desktop\\UChicago\\Data Mining\\Final Project\\yelp_review_samples_'+city+'.csv')
    
    print('city:', city)
    print('len_df_business:', len_df_business)
    print('len_business_list:', len_business_list)
    print('total_original_reviews:', total_original_reviews)
    print('len_reviews_sample:', len_reviews_sample)

Wall time: 0 ns

In [16]:
sample('Orlando')

city: Orlando
len_df_business: 2264
len_business_list: 2264
total_original_reviews: 368361
len_reviews_sample: 20406

In [17]:
sample('Austin')

city: Austin
len_df_business: 2608
len_business_list: 2608
total_original_reviews: 603815
len_reviews_sample: 24017

In [18]:
sample('Atlanta')

city: Atlanta
len_df_business: 2263
len_business_list: 2263
total_original_reviews: 460139
len_reviews_sample: 20048